In [1]:
#Import des library 
import pandas as pd
import joblib

In [2]:
# Import du modèle
model = joblib.load("model_billet.pkl")

In [3]:
# Import du nouveau fichier de données
new_data = pd.read_csv('billets_test.csv', sep=',')
new_data

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    172.09       103.95        103.73        4.39       3.09  113.19  B_1
1    171.52       104.17        104.03        5.27       3.16  111.82  B_2
2    171.78       103.80        103.75        3.81       3.24  113.39  B_3
3    172.02       104.08        103.99        5.57       3.30  111.10  B_4
4    171.79       104.34        104.37        5.00       3.07  111.87  B_5

In [4]:
new_data[['diagonal', 'height_left', 'height_right', 'margin_low', 'margin_up', 'length']]

   diagonal  height_left  height_right  margin_low  margin_up  length
0    172.09       103.95        103.73        4.39       3.09  113.19
1    171.52       104.17        104.03        5.27       3.16  111.82
2    171.78       103.80        103.75        3.81       3.24  113.39
3    172.02       104.08        103.99        5.57       3.30  111.10
4    171.79       104.34        104.37        5.00       3.07  111.87

In [5]:
# Applications de notre modèle sur les nouvelles données
predictions = model.predict(new_data[['diagonal', 'height_left', 'height_right', 'margin_low', 'margin_up', 'length']])

In [6]:
# Résultat final
new_data["prediction"] = predictions
new_data["prediction_label"] = new_data["prediction"].map({0: "Faux billet", 1: "Vrai billet"})
print(new_data)

   diagonal  height_left  height_right  margin_low  margin_up  length   id  \
0    172.09       103.95        103.73        4.39       3.09  113.19  B_1
1    171.52       104.17        104.03        5.27       3.16  111.82  B_2
2    171.78       103.80        103.75        3.81       3.24  113.39  B_3
3    172.02       104.08        103.99        5.57       3.30  111.10  B_4
4    171.79       104.34        104.37        5.00       3.07  111.87  B_5

   prediction prediction_label
0           1      Vrai billet
1           0      Faux billet
2           1      Vrai billet
3           0      Faux billet
4           0      Faux billet

In [7]:
# Supposons que ta colonne de prédiction s'appelle 'prediction'
counts = new_data['prediction'].value_counts()
print(counts)

prediction
0    3
1    2
Name: count, dtype: int64

In [8]:
# 0 faux billet
# 1 vrai billet